// Import library functions for theme creation.
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

@mixin header-color($theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  h1{
    background-color: mat-color($primary);
    color: mat-color($primary, 50);
  }
}

@mixin header-typography($theme) {
    // Extract the typography configuration in case a theme has been passed.
    $config: mat-get-typography-config(
        $font-family: 'Texturina, serif'
        );
}

@mixin header-theme($theme) {
    // Extracts the color and typography configurations from the theme.
    $color: mat-get-color-config($theme);
    $typography: mat-get-typography-config($theme);

    // Do not generate styles if configurations for individual theming
    // systems have been explicitly set to `null`.
    @if $color != null {
        @include header-color($color); 
    }
    @if $typography != null {
        @include header-typography($typography);
    }

    h1{
        font-family: 'Texturina', serif;
        padding: 30px;
    }

    
}
