
<app-header></app-header>
<div class="main">
    <mat-form-field>
        <input matNativeControl placeholder="Username" #usernameInput 
        (onblur)="onGetUserStats(usernameInput.value)"
        (keyup.enter)= "onGetUserStats(usernameInput.value)">
    </mat-form-field>
    <!-- <div>
        <span>
          <label>User Name: 
            <input #usernameInput
              (onblur)="onGetUserStats(usernameInput.value)"
              (keyup.enter)= "onGetUserStats(usernameInput.value)">
          </label>
        </span>
      </div> -->
    <app-quest-table [username]="username"></app-quest-table>

    
</div>