<h2>Eligible Quests</h2>
<table class="quests" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Difficulty</th>
      <th>Members</th>
      <th>questPoints</th>
      <th>userEligible</th>
    </tr>
  </thead>
  <tr *ngFor="let quest of quests"  class="questEntry">
    <td>{{quest.title}}</td>
    <td>{{quest.status}}</td>
    <td>{{quest.difficulty}}</td>
    <td>{{quest.members}}</td>
    <td>{{quest.questPoints}}</td>
    <td>{{quest.userEligible}}</td>
</tr>
  <!-- <app-quest *ngFor="let quest of quests" [quest]="quest"></app-quest> -->
    <!-- <span class="badge">{{quest.name}}</span> {{quest.description}} -->
</table>
